/* Content Styling */
ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Form Container */
.form-container {
  width: 100%;
  max-width: 500px; /* Max width for devices */
  padding: 5px;
  margin: 0 auto; /* Center horizontally */
  background-color: #1e1e1e; /* Background for form container */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-top: 70px;
}

/* Item Styling */
ion-item {
  --background: var(--input-background-color, #ffffff); /* Default to white if not set */
  --color: var(--text-color, #0b2e50); /* Default to dark grey if not set */
  --placeholder-color: var(--placeholder-text-color, #6c757d); /* Default to grey if not set */
  margin: 12px;
  border: 1px #57585a; /* Light border */
  border-radius: 8px; /* More rounded corners */

}

/* Input Styling */
ion-input {
  --background: #f8f9fa; /* Very light grey background */
  --color: #212529; /* Darker text color */
  --placeholder-color: #adb5bd; /* Placeholder text color */
  --padding-start: 12px; /* Increased padding at the start */
  --padding-end: 12px; /* Increased padding at the end */
  border: none; /* Remove default border */
  border-radius: 10px; /* Rounded corners */
  font-size: 20px; /* Font size */
  height: 45px; /* Height of the input */
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.075); /* Inner shadow */
  margin: 5px; /* Less margin at the top */
}

/* Button Container Styling */
.button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center the button vertically */
  width: 100%;
}

/* Button Styling */
ion-button[expand="block"] {
  --background: var(--button-background-color, #0066ff); /* Default to blue if not set */
  --color: var(--button-text-color, #ffffff); /* Default to white if not set */
  margin-top: 8px;
  text-align: center;
  border-radius: 8px; /* Rounded corners */
  font-size: 18px; /* Font size */
  padding: 12px; /* Padding for button */
  transition: background-color 0.3s ease;
  width: 100%; /* Full width by default */
  max-width: 455px; /* Maximum width for larger screens */
  height: 60px;
  margin: auto;
}

ion-button[expand="block"]:hover {
  --background: #0052aa; /* Darker blue on hover */
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
  ion-button[expand="block"] {
    font-size: 16px; /* Slightly smaller font size */
    padding: 10px; /* Adjust padding */
    height: 50px; /* Adjust height */
  }
}

/* Error Message Styling */
.error-message {
  color: red;
  font-size: 14px;  
  margin-top: 8px;
  margin-bottom: 8px; /* Simplified margin */
  text-align: center;
}
