<ion-header [translucent]="true" >

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="goToMainMenu()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo-menu"> Eficiencia</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Este es para modificarla vista de en general de la aplicación tanto para
IOS como android  aqui va la estructura de la aplicación-->
<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido del menú principal -->

</ion-content>
