<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-menu">{{ idiomaSeleccionado === 'es' ? energia_espanol : energia_ingles }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToMainMenu()">
        <ion-icon class="toolbar-button" slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="goBack()">
        <ion-icon class="toolbar-button" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="form-container">
    <ion-list lines="none">
      <!-- Entrada de cantidad -->
      <ion-item class="custom-item">
        <ion-label position="stacked">{{ idiomaSeleccionado === 'es' ? cantidad_espanol : cantidad_ingles }}</ion-label>
        <ion-input type="number" [(ngModel)]="cantidad" (ngModelChange)="convertir()" 
          [placeholder]="idiomaSeleccionado === 'es' ? cantidad_espanol : cantidad_ingles">
        </ion-input>
      </ion-item>

      <!-- Unidad origen -->
      <ion-item class="custom-item">
        <ion-label position="stacked">{{ idiomaSeleccionado === 'es' ? convertir_de_espanol : convertir_de_ingles }}</ion-label>
        <ion-select [(ngModel)]="unidadSeleccionadaOrigen" (ionChange)="convertir()">
          <ion-select-option *ngFor="let unidad of unidades" [value]="unidad.value">{{ unidad.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Error -->
      <div *ngIf="mensajeError" class="error-message">
        {{ mensajeError }}
      </div>

      <!-- Unidad destino -->
      <ion-item class="custom-item">
        <ion-label position="stacked">{{ idiomaSeleccionado === 'es' ? a_espanol : a_ingles }}</ion-label>
        <ion-select [(ngModel)]="unidadSeleccionadaDestino" (ionChange)="convertir()">
          <ion-select-option *ngFor="let unidad of unidades" [value]="unidad.value">{{ unidad.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Resultado -->
      <ion-item class="custom-item">
        <ion-input class="resultado-input" type="text" 
          [value]="resultadoFormateado ? resultadoFormateado + ' ' + unidadSeleccionadaDestino : ''"
          [placeholder]="idiomaSeleccionado === 'es' ? resultado_espanol : resultado_ingles" 
          readonly>
        </ion-input>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
