<ion-header>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-button expand="block">
          <ion-menu-button></ion-menu-button>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ idiomaSeleccionado === 'es' ? 'Dashboard' : 'Home' }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="6" size-lg="3" *ngFor="let opcion of opciones">
          <ion-button expand="block" color="primary" class="boton-opcion" (click)="navegar(opcion.ruta)">
            <ion-icon [name]="opcion.icono" slot="start"></ion-icon>
            <span>{{ idiomaSeleccionado === 'es' ? opcion.textoEs : opcion.textoEn }}</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
  