HTML:

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="goToMainMenu()">
        <ion-icon class="toolbar-button" slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="goBack()">
        <ion-icon class="toolbar-button" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo-menu">{{ idiomaSeleccionado === 'es' ? calculos_electricos_espanol : calculos_electricos_ingles }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="form-container">
    <ion-list lines="none">
      <ion-item class="form-item">
        <ion-label>{{ idiomaSeleccionado === 'es' ? tipo_corriente_espanol : tipo_corriente_ingles }}</ion-label>
        <ion-select [(ngModel)]="selectedCorriente" (ionChange)="calculateCorriente()">
          <ion-select-option value="continua">Continua</ion-select-option>
          <ion-select-option value="monofasica">Alterna Monofásica</ion-select-option>
          <ion-select-option value="bifasica">Alterna Bifásica</ion-select-option>
          <ion-select-option value="trifasica">Alterna Trifásica</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item class="form-item">
        <ion-label>{{ idiomaSeleccionado === 'es' ? tension_motor_espanol : tension_motor_ingles }}</ion-label>
        <ion-input type="number" [(ngModel)]="tension" placeholder="Voltaje" (ionInput)="calculateCorriente()"></ion-input>
      </ion-item>
      
      <ion-item class="form-item">
        <ion-label>{{ idiomaSeleccionado === 'es' ? potencia_motor_espanol : potencia_motor_ingles }}</ion-label>
        <ion-input type="number" [(ngModel)]="potencia" placeholder="Watts" (ionInput)="calculateCorriente()"></ion-input>
      </ion-item>
      
      <ion-item class="form-item" *ngIf="selectedCorriente !== 'continua'">
        <ion-label>{{ idiomaSeleccionado === 'es' ? factor_potencia_espanol : factor_potencia_ingles }}</ion-label>
        <ion-input type="number" [(ngModel)]="factor_potencia" placeholder="Factor de Potencia" (ionInput)="calculateCorriente()"></ion-input>
      </ion-item>
      
      <ion-item class="form-item">
        <ion-label>{{ idiomaSeleccionado === 'es' ? eficiencia_motor_espanol : eficiencia_motor_ingles }}</ion-label>
        <ion-input type="number" [(ngModel)]="eficiencia" placeholder="Porcentaje" (ionInput)="calculateCorriente()"></ion-input>
      </ion-item>
      
      <ion-item class="form-item" *ngIf="corriente">
        <ion-label>{{ idiomaSeleccionado === 'es' ? corriente_espanol : corriente_ingles }}</ion-label>
        <ion-input type="text" [value]="corriente" readonly></ion-input> Amperes
      </ion-item>
    </ion-list>
  </div>
</ion-content>
